{
  "rules": {
    "indent": [
      2,
      "tab",
      {
        "SwitchCase": 1
      }
    ],
    "quotes": [
      2,
      "single"
    ],
    "linebreak-style": [
      2,
      "unix"
    ],
    "semi": [
      2,
      "always"
    ]
  },
  "env": {
    "es6": true,
    "node": true,
    "screeps/screeps": true
  },
  "plugins": [
    "screeps"
  ],
  "globals": {
    "_": false,
    "describe": false,
    "desc": false,
    "it": false,
    "expect": false,
    "beforeEach": false,
    "afterEach": false,
    "sinon": false,
    "sandbox": false
  },
  "extends": "eslint:recommended"
}
